body {
    margin: 0;
    padding: 0;

    font-size: 20px;
    min-height: 100vh;
    background-color: #BFD7EA;
    color: #ffffff;
}

header {
    text-decoration: underline;
    background-color: #F1AE60;
    padding: 20px;
}

header nav {
    margin-left: 100px;
    margin-right: 100px;
}


table {
    display: flex;
    align-items: center;
}

nav th {
    padding: 02px 270px;
    font-size: 27px;
}

.logo {
    height: 90px;
    width: 100px;
}

main {
    margin: 130px 05px;
    padding: 11px;
    background-color: #ADB9C2;
}

.tabela {
    margin: 80px;

}

td {
    padding: 00px 20px;
}

.voltar {
    display: flex;
    justify-content: end;
    margin: 20px;
}

.botao {
    width: 120px;
    height: 30px;
    color: #000000;
}

footer {
    background-color: #F1AE60;
    color: #F1AE60;
    padding: 20px;
}